<h1>EVM未登録プロジェクトの皆様へ</h2>
<p>本ページはPMOへEVMの進捗データを提出します。スケジュール計画が完成した段階で
	こちらでご登録下さい。</p>
<p>「EVM登録」ボタンをクリックし、EVMの計画指標　PV,BAC,SACを登録してください。</p>

<%= button_to("EVM登録", {:controller => "evm", :action => "registration"}) %>
