// Place all the styles related to the SystemConfig controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.list_content {
  //background-color: red;
  width: 30%;
  float: left;
}

.edit_content {
  //background-color: yellow;
  width: 50%;
  float: left;
}

.tabs {
  float:left; 
  width: 100%;
}